*
{
    padding: 0;
    margin: 0;
}


body
{
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
}

.container
{
    width: 30%;
    background: white;
    border-radius: 10px;
}

.container .inner
{
    background: #00B6FF;
    padding: 1em;
    border-radius: 10px;
    width: 100%;

    clip-path: circle(10% at 0% 0%);

    transition: clip-path .5s ease-in-out;
}

.container .inner h1
{
    /* color: white; */
    margin: 0;
}

.container .inner p
{
    /* color: white; */
    font-size: 1.2rem;
}

.inner:hover
{
    clip-path: circle(70%);
}